.body-background {
    background-color: yellow;
}

.header-background {
    background-color: cornflowerblue;
}

.head-meta-stuff {
    background-color: mistyrose;

}

.sticky {
    position: sticky;
    top: 0;
    background-color: lightseagreen;
    height: 50px;
}

.footer-background {
    background-color: lime;
}

.header {
    height: 50px;
    border: 1px;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
}

.footer {
    height: 50px;
    text-align: center;
    align-content: center;
    border: 1px;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header-position {
    position: fixed;
    width: 100%;
    top: 0;
}

.footer-position {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#main {
    min-height: calc(100dvh - 100px);
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-overflow {
    overflow: auto;
}

#content {
    height: calc(100dvh - 100px);
}

.background-color {
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}

.fixedItems {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;

}

#overflowMain {
    width: 100%;
    background-color: lightcoral;
}

#overflowBody {
    width: 100%;
    background-color: lightgoldenrodyellow
}

.column {
    display: flex;
    flex-direction: column;
}