.controls {
    background-color: lightgrey;
    margin: 1em;
    padding: 1em;
}

.category {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    gap: 1.5em;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.content {
    height: calc(100dvh - 100px);
}

.footer {
    height: 50px;
    text-align: center;
    align-content: center;
    border: 1px;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.header {
    height: 50px;
    border: 1px;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 1em;
    justify-content: space-between;
    align-items: center;
}

.main {
    min-height: calc(100dvh - 100px);
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    /* justify-content: center; */
}

.sticky {
    position: sticky;
    top: 0;
    background-color: lightseagreen;
    height: 50px;
}